@use "@/scss/variables" as *;

.drop-down {
    // outline: 0.1rem solid $background-forward;
    // border: 0.5rem solid $background-forward-light;
    background-color: $background-transparent;
    // outline: none;
    margin: 0.4rem 0;

    .drop-down-label {
        color: #fff;
    }
    .drop-down-select {
        color: #fff;
    }
}
