@use "@/scss/variables" as *;

.drop-down {
    font-size: 2rem;
    margin: 0.4rem 0;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
}
