@use "@/scss/variables" as *;

.task {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    outline: 0.1rem solid red;
    margin-bottom: 0.5rem;
    user-select: none;

    * {
        text-align: center;
    }

    .task-number {
        width: $number-width;
    }

    .task-name,
    .task-status,
    .task-artist,
    .task-spent-hours,
    .drop-down {
        width: $items-width;
    }

    .task-artist {
        padding: 0 2%;

        .task-artist-button {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
