@use "@/scss/variables" as *;

.infoblock {
    overflow-y: auto;
    min-height: 100%;
    max-width: 50%;
    outline: 0.1rem solid $comment-text-background;
    position: relative;
    transition: 0.5s all ease-in;
    display: flex;

    .infoblock__block-buttons {
        position: sticky;
        top: 0rem;
        left: 0rem;
        padding-top: 1rem;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: fit-content;

        .infoblock__block-buttons-hide,
        .infoblock__block-buttons-add,
        .infoblock__block-buttons-delete {
            @include hover;
            width: 3rem;
            height: 3rem;
        }
    }

    .infoblock-content {
        width: 100%;
    }
}
