@use '@/scss/variables' as *;

.task-popup {
    z-index: 5;
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    background-color: $background-mid-opaque;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .task-popup-content {
        min-width: 80vw;
        min-height: 80vh;
        background-color: aqua;
    }
}
