@use "@/scss/variables" as *;

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    user-select: none;

    p {
        text-align: center;
    }
    .item-number {
        width: $number-width;
    }

    .item-name,
    .item-status,
    .item-artists,
    .item-priority {
        text-align: center;
        width: $items-width;
    }
}
