@use "@/scss/variables" as *;

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    user-select: none;
    padding: 0 1rem;

    // &:hover {

    // }

    p {
        text-align: center;
    }
    .item-number {
        width: $number-width;
    }

    .item-name,
    .item-status-wrapper,
    .item-artists,
    .item-hours,
    .item-priority-wrapper {
        text-align: center;
        width: $items-width;
    }

    .item-status-wrapper,
    .item-priority-wrapper {
        height: 100%;
        padding: 1rem 0;

        .item-status,
        .item-priority {
            border-radius: 2rem;
            overflow: hidden;
            display: flex;
            height: 100%;
        }
    }
}
