.error-page {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .error-page-gif {
        max-width: 25rem;
    }
}
