@use "@/scss/variables" as *;

.admin {
    height: 100%;
    display: flex;
    gap: 3rem;

    .admin-artists-list {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .admin-artists-addbutton {
        @include hover;
        min-width: 4rem;
        min-height: 4rem;
    }

    .admin-artists-info {
        width: 70%;
        height: 100%;
        background-color: $background;
        padding: 5rem;
        overflow-y: scroll;

        .admin-artists-info-content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5rem;

            .admin-artists-info-item {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 0.1rem solid $comment-text-background;
                border-radius: 0;
                padding: 0.5rem 0;
            }

            .admin-artists-info-delete-button {
                height: 3rem;
                width: 50%;
                place-self: center;
            }
        }
    }
}
