@use "@/scss/variables" as *;

.comment {
    background-color: $comment-background;
    margin: 1.5rem;
    padding: 1rem;
    display: flex;
    position: relative;
    min-height: 6rem;
    outline: 0.1rem solid rgb(130 130 130);

    .comment-badge {
        position: absolute;
        top: -0.5rem;
        left: -0.5rem;
        padding: 0.5rem;
    }
    .comment-block {
        width: 100%;
        display: flex;
        flex-direction: column;

        .comment-block-header {
            display: flex;
            justify-content: flex-end;

            .comment-spent-hours,
            .comment-block-ext {
                padding: 1rem;
                margin: 0 1rem;
                background-color: rgb(76, 71, 63);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .comment-date-author-block {
                padding: 0.5rem;
                max-width: 50%;
                background-color: rgb(90, 90, 90);
                display: flex;
                flex-direction: column;
                gap: 1rem;

                // .comment-date {
                // }
                .comment-author {
                    min-height: fit-content;
                    min-width: 10rem;

                    .comment-author-text {
                        padding: 0.5rem;
                        background-color: rgb(50, 70, 70);
                    }
                }
            }
        }

        .comment-image,
        .comment-dailies-video {
            width: 100%;
            margin-top: 1rem;
        }

        .comment-text-block {
            margin-top: 1rem;
            padding: 1rem;
            background-color: $comment-text-background;
            // .comment-text {
            // }
        }

        .comment-status {
            padding: 1rem;
            margin-top: 0.5rem;
        }
    }
}
