@use "@/scss/variables" as *;

.layout {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    gap: 1rem;

    .layout-main-block {
        width: 100%;
        height: 100%;

        .layout-tasksblock {
            padding: 1rem;
            margin-top: 1rem;
            min-width: 100%;
            min-height: 20rem;
            background-color: $background-forward;
            color: #fff;
            font-size: 1.2rem;
            display: flex;
            gap: 1rem;

            .layout-tasksblock-left_block {
                width: 50%;
                transition: 0.5s all ease-in;

                .layout-structure-icon {
                    border-radius: 0;
                    @include image-icon;
                    @include hover;
                }

                .layout-tasksblock-menu {
                    display: flex;
                    padding: 1rem;
                    justify-content: flex-end;
                    gap: 1rem;
                    border-radius: 1rem 1rem 0 0;
                    border-bottom: 0.1rem solid $background;

                    .layout-tasksblock-button {
                        filter: invert(1);
                        min-width: 4rem;
                        background-color: transparent;

                        .layout-tasksblock-button__image {
                            max-width: 3rem;
                            max-height: 3rem;
                        }
                    }
                }

                .layout-tasksblock-ordering {
                    display: flex;
                    padding: 1rem;
                    justify-content: space-between;
                    border-radius: 1rem 1rem 0 0;
                    border-bottom: 0.1rem solid $background;

                    div:nth-child(1) {
                        width: 10%;
                    }
                    div {
                        text-align: center;
                        width: 22.4%;
                    }
                }

                .layout-tasksblock-list {
                    display: flex;
                    flex-direction: column;
                }
            }

            .layout-tasksblock-right_block {
                overflow-y: scroll;
                min-height: 100%;
                max-width: 50%;
                outline: 0.1rem solid cyan;
                position: relative;
                transition: 0.5s all ease-in;
                overflow-y: scroll;

                .layout-tasksblock-right_block-buttons {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .layout-tasksblock-right_block-hide,
                    .layout-tasksblock-right_block-add,
                    .layout-tasksblock-right_block-delete {
                        @include hover;
                        border-radius: 0;
                        width: 3rem;
                        height: 3rem;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        filter: saturate(100);
                    }

                    .layout-tasksblock-right_block-hide {
                        transform: rotate(90deg);
                    }

                    .layout-tasksblock-right_block-add {
                        filter: invert(1);
                    }
                }

                .layout-info-block {
                    flex: 1;
                }
            }
        }
    }
}
