@use '@/scss/variables' as *;

.layout {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    gap: 1rem;

    .layout-main-block {
        width: 100%;
        height: 100%;

        .layout-tasksblock {
            margin-top: 1rem;
            min-width: 100%;
            min-height: 20rem;
            background-color: $background-forward;
            color: #fff;
            font-size: 1.2rem;

            .layout-tasksblock-menu {
                display: flex;
                padding: 1rem;
                justify-content: flex-end;
                gap: 1rem;
                border-radius: 1rem 1rem 0 0;
                border-bottom: 0.1rem solid $background;
            }

            .layout-tasksblock-ordering {
                display: flex;
                padding: 1rem;
                justify-content: space-between;
                border-radius: 1rem 1rem 0 0;
                border-bottom: 0.1rem solid $background;
            }

            .layout-tasksblock-list {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
