@use "@/scss/variables" as *;

.my-tasks-content {
    display: flex;
    height: 100%;

    .my-tasks-projects {
        transition: $transition;
    }

    .itemsblock-list {
        width: 100%;
        height: 100%;
    }
}
