@use "@/scss/variables" as *;

.artists-loading {
    display: flex;
    gap: 3rem;
    width: 100%;
    height: 100%;

    .artists-loading-artists-list {
        width: 30%;
    }

    .artists-loading-tasks-block {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        .artists-loading-statistics__show-icon {
            position: absolute;
            bottom: 2.5rem;
            cursor: pointer;

            transition: $transition;

            &:hover {
                transform: translateY(-0.3rem);
            }
        }

        .artists-loading-tasks {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;
            background-color: $background;
            padding: 1rem;
            overflow-y: scroll;

            transition: $transition;
        }
    }
}
