@use '@/scss/variables' as *;

.sidebar {
    min-width: 5rem;
    background-color: $background-forward;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sidebar-image {
        @include image-icon;
        @include hover;
        // opacity: 0;
        background-image: url('../../../../assets/images/home.png');
        // position: relative;
        width: 3rem;
        height: 3rem;
    }
}
