@use "@/scss/variables" as *;

.tasksblock-item {
    border-radius: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    user-select: none;

    &:hover {
        cursor: pointer;
        background-color: $background-forward-light;
    }
}
