@use "@/scss/variables" as *;

.signup {
    display: flex;
    justify-content: center;
    align-items: center;

    .signup-wrapper {
        width: 30vw;
        padding: 3rem 5rem;
        background-color: $comment-background;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .signup-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            min-width: 10rem;
            min-height: 10rem;
            width: 100%;

            .signup-form-input-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                .signup-form-input-label {
                    color: #fff;
                    font-size: 1.5rem;
                    width: 25%;
                }

                .signup-form-input-field {
                    width: 75%;
                }
            }
        }

        .sign-in-button {
            color: #fff;
            cursor: pointer;
        }
    }
}
