@use "components/AccordionItemsBlock/AccordionItemsBlock";
@use "pages/Admin/Admin";
@use "components/App/App.scss";
@use "pages/ArtistsLoading/ArtistsLoading";
@use "components/DropDown/DropDown";
@use "pages/Error/Error";
@use "components/InfoBlock/InfoBlock";
@use "components/Infoblock/components/Comment/Comment";
@use "components/Infoblock/components/Description/Description";
@use "components/InfoBlock/components/Media/Media";
@use "components/Infoblock/components/Title/Title";
@use "components/Layout/Layout";
@use "components/Layout/components/Header/Header";
@use "components/Layout/components/LayoutItem/LayoutItem";
@use "components/Layout/components/ItemsBlock/ItemsBlock";
@use "components/Layout/components/Sidebar/Sidebar";
@use "components/Layout/components/Statusline/Statusline";
@use "pages/MyTasks/MyTasks";
@use "pages/Projects/Projects";
@use "pages/ProjectsStatistics/ProjectsStatistics";
@use "pages/Shots/Shots";
@use "pages/Signup/Signup";
@use "components/StatisticBlock/StatisticBlock";
@use "components/Task/Task";
@use "components/Popups/CreateComment/CreateComment";
@use "components/Popups/ImagePreview/ImagePreview";

@use "scss/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 1rem;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
}

#root {
    height: 100vh;
}

html {
    font-size: 10px;
    font-family: "Inter", "Arial", sans-serif;
    background-color: $background;
}

.empty-declaration {
    font-size: 2rem;
    text-align: center;
    padding: 5rem;
}
