@use "components/App/App";
@use "components/DropDown/DropDown";
@use "components/Error/Error";
@use "components/Infoblock/components/Comment/Comment";
@use "components/Infoblock/components/Description/Description";
@use "components/Infoblock/components/Title/Title";
@use "components/Layout/Layout";
@use "components/Layout/components/Header/Header";
@use "components/Layout/components/LayoutItem/LayoutItem";
@use "components/Layout/components/ItemsBlock/ItemsBlock";
@use "components/Layout/components/Statusline/Statusline";
@use "components/ShotsList/ShotsList";
@use "components/Sidebar/Sidebar";
@use "components/Signup/Signup";
@use "components/ProjectsList/ProjectsList";
@use "components/Task/Task";
@use "components/Popups/CreateComment/CreateComment";
@use "components/Popups/ImagePreview/ImagePreview";

@use "scss/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 1rem;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
}

html {
    font-size: 10px;
    font-family: "Inter", "Arial", sans-serif;
    background-color: $background;
}
