$background: rgb(42, 44, 51);
$background-mid-opaque: rgba(42, 44, 51, 0.75);
$background-transparent: rgba(100, 100, 100, 0.3);
$background-forward: rgb(35, 37, 44);
$background-forward-light: rgb(45, 50, 60);
$border-color: rgb(150, 140, 160);
$comment-background: rgb(60, 70, 90);
$comment-background-darker: rgb(50, 60, 70);
$comment-text-background: rgb(100, 70, 100);
$lighten: rgb(70, 80, 100);

$font-color: rgb(230, 230, 230);

$number-width: 10%;
$items-width: 22.4%;

@mixin hover {
    filter: invert(0.5);
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}
