@use "@/scss/variables" as *;

@keyframes refreshAnimation {
    0% {
        transform: rotate(0deg);
    }
    99% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.header {
    width: 100%;
    max-height: 10%;
    background-color: $background-forward;

    .header-container {
        min-height: 5rem;
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        .header-icon,
        .header-icon-refresh {
            @include hover;
            min-width: 4rem;
            min-height: 4rem;
        }

        .header-icon-refresh {
            transition: all 1s;
        }

        .header-search-container {
            background-color: $background;
            display: flex;
            justify-content: space-between;

            &:active {
                outline: 0.1rem solid red;
            }

            .header-search {
                padding: 1rem;
                background-color: transparent;
                border: none;
                color: #fff;

                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }

        .header-right-block {
            width: 20rem;
            padding-right: 1rem;
            min-height: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 1rem;

            .header-profile {
                border-radius: 100%;
                min-height: 3rem;
                min-width: 3rem;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                @include hover;
            }
        }
    }
}
